<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to our page</title>
</head>
<body>
    <center>
        <h1>Welcome To Our Page</h1>

        <h4>Welcome to Express FGA Class</h4>

        <h1> <%=pong%>!!!!! </h1>
    </center>
</body>
</html>