<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER PAGE</title>
</head>
<body>

    <center>this is register Page

<form action="/user" method="post">
<label for="email">EMAIL</label>
<br>
<input type="email" name="email" aria-placeholder="enter your email">
<br>

<label for="password">PASSWORD</label>
<br>
<input type="password" name="password" aria-placeholder="enter your password">
<br>

<button type="submit">REGISTER NOW</button>
</form>


    </center>
    
</body>
</html>